body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	overflow: auto;
	display: none;
}


#bg_up {
	background-color: rgb(66, 133, 244); /*blue*/
	height: 21vh;
	width: 100vw;
	position: relative;
}

#bg_up_bg {
	width: 100%;
	position: absolute;
	bottom: -3vh;
}


#bg_down {
	background-color: #EEEEEE;
	height: 79vh;
	width: 100vw;
}


.floaty {
	position: fixed;
	top: 0px;
	width: 100vw;
	overflow: auto;
}


#cueb_logo {
	background-color: white;
	border-radius: 100%;
	height: 1.2em;
	width: 1.2em;
	padding: 0.15em;
}


#title {
	margin-left: 0.35em;
}


#title_bar {
	padding: 1.5vh 2.5vh;
	color: white;
	font-size: 6vw;
	font-weight: bolder;
}


td {
	width: 50vw;
	height: 5em;
	color: white;
}


.meta {
	padding: 0px 5vw;
}


.meta_key {
	font-size: 3vw;
	font-family: STHeiti Light;
}


.meta_value {
	font-size: 3.5vw;
	font-weight: bolder;
	font-family: SimHei;
	margin-left: 1em;
}


#img_passed {
	width: 20vw;
	text-align: ;
}

.green {
	color: rgb(71, 157, 65);
	font-size: 4.8vw;
	font-weight: bolder;
	font-family: SimHei;
}


.block_title {
	font-size: 4.5vw;
	font-weight: bolder;
	font-family: SimHei;
	color: black;
	padding: 1vh 0vh;
}


.block_content {
	font-size: 4vw;
	font-family: SimHei;
	color: rgb(66, 133, 244); /*blue*/
	padding: 0.75vh;
}


.block_container {
	margin: 0.75vh 5vw;
}


.block_spliter {
	width: 100%;
	height: 3px;
	margin: 1vw 0px;
	background-color: #EEEEEE;
}


.block_filler {
	width: 100%;
	height: 1vh;
	background-color: white;
}


.block {
	font-size: 3.5vw;
	font-family: STHeiti Light;
	color: #666666;
	background-color: white;
	border-radius: 10px;
	width: 90vw;
	padding: 1vw 4vw;
}


.center {
	display: flex;
	align-items: center;
	justify-content: center;
}


.bottom {
	top: calc(100vh - 2em);
	height: 2em;
	color: #AAAAAA;
	font-size: 4vw;
}